<%= form_with(model: inscricao) do |form| %>
  <% if inscricao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inscricao.errors.count, "error") %> prohibited this inscricao from being saved:</h2>

      <ul>
        <% inscricao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :datanascimento %>
    <%= form.date_select :datanascimento %>
  </div>

  <div class="field">
    <%= form.label :evento_id %>
    <%= form.text_field :evento_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
