<%= form_with(model: evento) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
        <% evento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :datainicio %>
    <%= form.date_select :datainicio %>
  </div>

  <div class="field">
    <%= form.label :datafim %>
    <%= form.date_select :datafim %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
